<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NutriTracker</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <header>
        <h1>NutriTracker</h1>

        <!-- Navigation -->
        <nav class="nav">
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('main.add') }}">Add Food</a>
            <a href="{{ url_for('main.totals') }}">Totals</a>
            <a href="{{ url_for('main.goals') }}">Goals</a>
        </nav>
    </header>

    <hr>

    <!-- Page content goes here -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

</div>

</body>
</html>