{% extends "base.html" %}

{% block content %}

<h2>Welcome to NutriTracker</h2>
<img
    src="{{ url_for('static', filename='nutrition_icon.png') }}"
    alt="Nutrition App Icon"
    class="home-icon"
>
<p>Track your daily calories and macros effectively.</p>

<div class="card">
<h3>Today's Progress</h3>

<p>Date: {{ today }}</p>

<p>Calories: {{ totals["calories"] }}</p>
<p>Protein: {{ totals["protein"] }}g</p>
<p>Carbs: {{ totals["carbs"] }}g</p>
<p>Fats: {{ totals["fats"] }}g</p>
</div>

{% if goals %}
<div class="card">

    <h3>Goal Progress</h3>

    <p>
        Calories:
        {{ totals["calories"] }}
        /
        {{ goals["calorie_goal"] }}
    </p>

    <p>{{ calorie_percent|round(1) }}% complete</p>

    <progress value="{{ calorie_percent }}" max="100"></progress>

    <p>
        Protein:
        {{ totals["protein"] }}g
        /
        {{ goals["protein_goal"] }}g
    </p>

    <p>{{ protein_percent|round(1) }}% complete</p>

    <progress value="{{ protein_percent }}" max="100"></progress>

</div>

{% else %}

<div class="card">
    <p>No goals set yet.</p>
</div>

{% endif %}
{% endblock %}